:root {
  --app-side-padding: 0.5rem;
  --app-background: #111b21;
  --app-header-background: #202c33;
  --app-primary-strong: #e9edef;
  --app-secondary: #202c33;
  --app-logo-color: #25d366;
  --app-green: #005c4b;
  --app-green-2: #004e3f;
  --app-green-3: #00705b;
  --app-gray: #767676;
  --app-gray-2: #d1d7db;
}
