.page-wrapper {
  width: 100%;
  padding-top: 0.7rem;
}

.controls-wrapper {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.3rem;
}

.messages-not-found {
  text-align: center;
  margin: 0.5em 0;
  font-size: 1.5rem;
}

.loading {
  text-align: center;
  margin: 0.5em 0;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form {
  margin-top: 1rem;
}
