.add-input {
  display: block;
  margin-bottom: 0.5rem;
}

.contact-link {
  color: #fff;
  display: block;
  padding: 0.5rem;

  &:hover {
    background: var(--app-secondary);
  }
}

.active-link {
  background: var(--app-secondary);
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
